<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Pokemon</mat-card-title>
    </mat-card-header>
    <mat-icon data-content="pokemon">
      catching_pokemon
    </mat-icon>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero at sit placeat iure error? Optio ullam id et
        quos iure, sequi, magnam beatae ea, officia quasi delectus repellat molestias. Reprehenderit.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Tour of Heroes</mat-card-title>
    </mat-card-header>
    <mat-icon data-content="bolt">
      bolt
    </mat-icon>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero at sit placeat iure error? Optio ullam id et
        quos iure, sequi, magnam beatae ea, officia quasi delectus repellat molestias. Reprehenderit.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Feature</mat-card-title>
    </mat-card-header>
    <mat-icon data-content="science">
      science
    </mat-icon>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero at sit placeat iure error? Optio ullam id et
        quos iure, sequi, magnam beatae ea, officia quasi delectus repellat molestias. Reprehenderit.
      </p>
    </mat-card-content>
  </mat-card>
</div>
